---
import projects from "@data/projects.json";

import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar, { Pages } from "@components/Navbar.astro";
import Header from "@components/Header.astro";
import ProjectCard from "@components/ProjectCard.astro";
import ShowMore from "@components/ShowMore.astro";
import Section from "@components/Section.astro";
import Grid from "@components/Grid.astro";
import PostsList from "@components/PostsList.astro";
---

<BaseLayout title="Divya Jain">
    <Navbar page={Pages.Home} />
    <Header withGradient>
        <Fragment slot="title">Divya Jain</Fragment>
        <Fragment slot="subtitle">A <em>developer</em>, <em>creator</em>, and <em>lifelong learner</em>.</Fragment>
        <p>
            Love architecting solutions, writing code, and learning new technologies. Working on DevOps at Seclore.
            Writing projects in Rust, Python and JS in free time.
        </p>
    </Header>

    <Section>
        <Fragment slot="title">Posts</Fragment>
        <PostsList />
        <ShowMore url="/posts" />
    </Section>

    <Section>
        <Fragment slot="title">Projects</Fragment>
        <Grid>
            {projects.slice(0, 4).map((project) => <ProjectCard project={project} />)}
        </Grid>
        <ShowMore url="/projects" />
    </Section>
</BaseLayout>
