---
export interface Props {
    withGradient?: boolean;
}

const { withGradient = false } = Astro.props;
---

<header>
    <h1 class:list={[{ "with-gradient": withGradient }]}><slot name="title" /></h1>
    <h3><slot name="subtitle" /></h3>
    <slot />
</header>

<style lang="scss">
    header {
        margin-bottom: 4rem;

        h1 {
            margin: 0;
            font-weight: 800;
        }

        h3 {
            margin: 0 0 2rem 0;
            font-size: var(--text-base);
        }
    }
</style>
