---
export enum Pages {
    Home = "HOME",
    Projects = "PROJECTS",
    Posts = "POSTS",
}

export interface Props {
    page?: Pages;
}

import { Icon } from "astro-icon";

const { page } = Astro.props;
---

<nav>
    <div class="left">
        <a href="/" class:list={[{ active: page == Pages.Home }]}>Home</a>
        <a href="/projects" class:list={[{ active: page == Pages.Projects }]}>Projects</a>
        <a href="/posts" class:list={[{ active: page == Pages.Posts }]}>Posts</a>
    </div>

    <div class="right">
        <a class="icon" href="https://github.com/dvjn" style="--primary-accent: #f5f5f5">
            <Icon name="radix:github-logo" />
        </a>
        <a class="icon" href="https://www.linkedin.com/in/divykj" style="--primary-accent: #0072b1">
            <Icon name="radix:linkedin-logo" />
        </a>
    </div>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        & > div {
            display: flex;
            align-items: center;
            overflow: hidden;
            margin: 0 -1rem;

            a {
                text-decoration: none;
                line-height: 1.5rem;

                display: block;
                padding: 0.5rem 1rem;
                margin-right: 0.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;

                transition: background-color 200ms, color 200ms;

                &.active {
                    color: var(--color-text-important);
                    font-weight: 600;
                }

                &:hover {
                    background: hsla(0, 0%, 100%, 0.025);
                }

                &.icon {
                    padding: 0.625rem;
                }

                [astro-icon] {
                    height: 1.25rem;
                    width: 1.25rem;
                }
            }
        }
    }
</style>
