---
import * as date from "date-fns";
import { getCollection } from "astro:content";

import PostLink from "@components/PostLink.astro";

const posts = (await getCollection("posts"))
    .map((post) => ({
        title: post.data.title,
        preview: post.body.substring(0, 100),
        url: `/posts/${post.slug}`,
        published_on: date.parse(post.data.published_on, "dd/MM/yyyy", new Date()),
        tags: post.data.tags,
    }))
    .toSorted((a, b) => date.differenceInMilliseconds(b.published_on, a.published_on));
---

<div class="content">
    {posts.map((post) => <PostLink post={post} />)}
</div>

<style lang="scss">
    .content {
        margin: -1rem 0;

        & > :global(*) {
            margin: 2rem 0;
        }
    }
</style>
