---
export interface Props {
    title: string;
    content: string;
    href?: string;
}

const { title, content, href } = Astro.props;
---

<a href={href}>
    <h2 set:html={title}></h2>
    <p set:html={content}></p>
</a>

<style lang="scss">
    a {
        cursor: pointer;
        text-decoration: none;
        color: unset !important;
        display: block;
        padding: 1.5rem 0;
        transition: transform 200ms, border 200ms;

        h2 {
            margin: 0 0 0.5rem 0;
            color: var(--color-text-important);
            transition: color 200ms;
        }

        &:hover h2 {
            color: var(--secondary-accent);
        }

        p {
            margin: 0;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }
</style>
